body {
  background-color: lightgrey;
  margin: 1rem;

}
#counter-app-container{
  background-color: white;
  padding: 1rem;
  margin: 0;
  max-width: inherit;
}
.timer {
  color: navy;
  font-family: "Courier New";
  font-size: 2rem;
  width: 50%;
  margin: auto;
  text-align: center;

}
