body {
  margin: 1rem;

}
#counter-app-container{
  padding: 1rem;
  margin: 0;
  max-width: inherit;
}

#rabbits {
  opacity: 0.5;
  max-width: 75%;
  max-height: 40vw;
  display: block;
  margin: auto;
}
.timer {
  color: navy;
  font-family: "Courier New";
  font-size: 2rem;
  text-align: center;
}
.container {
  margin: auto;
  width: 50%;
}


